<nav class="navbar">
    <div class="nav-container">
        <div class="nav-left">
            <button class="menu-btn"><i class="fas fa-bars"></i></button>
            <span class="nav-logo"><i class="fab fa-github"></i></span>
            <span class="github-username">sanchitbishwakarma</span>
        </div>
        <input type="text" class="search-input" placeholder="Type / to search">

        <div class="nav-right">
            <div class="nav-icons">
                <div class="theme-toggle" id="themeToggle"><i class="fas fa-moon"></i></div>
                <i class="fas fa-gear"></i>
                <i class="fas fa-plus"></i>
                <i class="far fa-bell"></i>
                <img src="assets/img/Profile_Sanchit.jpg" alt="Profile" class="nav-avatar">
            </div>
        </div>
    </div>
</nav>