<div class="sub-nav">
    <div class="sub-nav-container">
        <a href="javascript:void(0)" class="sub-nav-item active" id="overviewTab">
            <i class="fas fa-book-open"></i> Overview
        </a>
        <a href="javascript:void(0)" class="sub-nav-item" id="reposTab">
            <i class="fas fa-book-bookmark"></i> Repositories <span id="reposCount">0</span>
        </a>
        <a href="https://github.com/sanchitbishwakarma?tab=projects" target="_blank" class="sub-nav-item">
            <i class="fas fa-table-list"></i> Projects
        </a>
        <a href="https://github.com/sanchitbishwakarma?tab=packages" target="_blank" class="sub-nav-item">
            <i class="fas fa-cube"></i> Packages
        </a>
        <a href="javascript:void(0)" class="sub-nav-item" id="starsTab">
            <i class="fa-regular fa-star"></i> Stars <span id="starsCount">0</span>
        </a>
    </div>
</div>