@media (max-width: 900px) {
    .container {
        flex-direction: column;
    }

    .sub-nav-container {
        overflow-x: auto;
        padding: 0 16px;
    }

    .sidebar {
        width: 100%;
    }

    .profile-section {
        position: static;
    }

    .pinned-grid,
    .youtube-grid {
        grid-template-columns: 1fr;
    }

    .container.side-hidden .sidebar {
        display: none;
    }

    .nav-right .nav-link {
        display: none;
    }

    .search-input {
        width: 200px;
    }
}

@media (max-width: 600px) {
    .container {
        padding: 16px;
    }

    .navbar {
        padding: 12px 16px;
    }

    .sub-nav {
        top: 57.87px;
    }

    .search-input {
        display: none;
    }

    .footer-links {
        justify-content: center;
        flex-wrap: wrap;
    }

    .status-icon {
        position: absolute;
        bottom: 50px;
        right: 25px;
        width: 38px;
        height: 38px;
        border-radius: 50%;
        display: flex;
    }

    .contribution-graph {
        display: none;
    }

    .section-header:has(#contributionCount) {
        display: none;
    }

    .platforms-grid {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 16px;
    }

    .platform-btn {
        font-size: var(--fs-xs);
    }

    .github-username {
        display: none;
    }
}